body{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}
#to{
	height: 35px;
	width: 50%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	margin: 0;
	border:none;
	outline: none;
	color: white;
	font-size: 120%;
	background-color: #2E4053;
}
.btn_add{
	margin: -45px;
	border-style: none;
	font-size: 120%;
	cursor: pointer;
	padding: 7.5px;
	background-color: #17A589;
}
.btn_add:hover{
	background-color: #48C9B0;
}
li button{
	margin-left: 10px;
	color: red;
	border-style: none;
	background:none;
	cursor: pointer;
	outline: none;
}
input[type='checkbutton']{
	margin-right: 10px;
}
#ctask{
	float:right;
	clear: right;
	padding: 0;
	list-style: none;
}
#list{
	float: left;
	clear: left;
	padding: 0;
	list-style-type: none; 
}
#inc{
	float: left;
	border-right-style: solid;
	margin-top: 10px;
	width: 49%;
}
#cmp{
	float: right;
	width: 50%;
	margin-top: 10px;
}
#inc p{
	font-size: 130%;
	margin: 0;
	text-decoration: underline;
	float: left;
}
#cmp p{
	font-size: 130%;
	text-decoration: underline;
	float: right;
	margin: 0;
}
